<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:jdbc="http://www.springframework.org/schema/jdbc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
                           http://www.springframework.org/schema/jdbc http://www.springframework.org/schema/jdbc/spring-jdbc.xsd">

   <bean id="dataSource" class="org.springframework.jdbc.datasource.DriverManagerDataSource">
       <property name="driverClassName" value="${jdbc.mysql.driverClassName}" />
       <!--<property name="url" value="jdbc:mysql://#{systemEnvironment[OPENSHIFT_MYSQL_DB_HOST]}:#{systemEnvironment[OPENSHIFT_MYSQL_DB_PORT]}/#{systemEnvironment[OPENSHIFT_APP_NAME]}?characterEncoding=UTF-8" />-->
       <!--<property name="username" value="#{systemEnvironment[OPENSHIFT_MYSQL_DB_USERNAME]}" />-->
       <!--<property name="password" value="#{systemEnvironment[OPENSHIFT_MYSQL_DB_PASSWORD]}" />-->
       <property name="url" value="${jdbc.mysql.url}" />
       <property name="username" value="${jdbc.mysql.username}" />
       <property name="password" value="${jdbc.mysql.password}" />
   </bean>

   <jdbc:initialize-database data-source="dataSource" ignore-failures="DROPS">
      <jdbc:script location="/WEB-INF/dbscripts/db-data.sql"/>
   </jdbc:initialize-database>
</beans>