<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
       http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc.xsd
       http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context.xsd">

    <import resource="spring-config-hbm.xml"/>
    <import resource="web-security-sett.xml"/>
    <import resource="spring-admincontroller.xml"/>


    <!--статические ресурсы не обрабатываются через диспетчер-сервлет-->
    <mvc:resources mapping="/resources/**" location="/resources/"/>

    <mvc:annotation-driven/>

    <!--Логин контраллеры, кабинет пользователя и изменение данных пользователя-->
    <context:component-scan base-package="by.imix.cms.web.controller.login"/>
    <!--Контраллер закачки файлов-->
    <context:component-scan base-package="by.imix.cms.web.controller.other"/>
    <context:component-scan base-package="by.imix.cms.service"/>


    <!--Включаем разбор JSON при вытаскивании данных из БД-->
    <bean id="nodeStateReader" class="by.imix.cms.nodedata.NodeStateReaderJSON"/>
    <bean id="nodeStateReaderService" class="by.imix.cms.nodedata.NodeStateReaderService">
        <property name="nodeStateReader" ref="nodeStateReader"/>
    </bean>

    <!--подключение шаблонного представления tiles-->
    <bean id="tilesConfigurer" class="org.springframework.web.servlet.view.tiles3.TilesConfigurer">
        <!--<property name="definitions" value="/WEB-INF/views/templates/ksuprbch/tiles-defs.xml, /WEB-INF/tiles-defs-admincontent.xml , /WEB-INF/tiles-defs-modules-rolemanager.xml" />-->
        <property name="definitions" value="/WEB-INF/views/templates/imixcms/tiles-defs.xml, /WEB-INF/views/tiles-defs-admincontent.xml" />
        <property name="preparerFactoryClass" value="org.springframework.web.servlet.view.tiles3.SpringBeanPreparerFactory"/>
    </bean>

    <bean id="viewResolver" class="org.springframework.web.servlet.view.tiles3.TilesViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.tiles3.TilesView"/>
    </bean>

    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <property name="viewClass" value="org.springframework.web.servlet.view.JstlView"/>
        <property name="prefix" value="/WEB-INF/views/" />
        <property name="suffix" value=".jsp" />
    </bean>

    <!--подключение бина для спринковских сообщений-->
    <bean id="messageSource" class="org.springframework.context.support.ReloadableResourceBundleMessageSource">
        <property name="basenames">
            <list>
                <!--<value>classpath:resources/MessageResources</value>-->
                <value>classpath:i18n/MessageResources</value>
                <value>classpath:i18n/ValidationMessages</value>
            </list>
        </property>
        <property name="defaultEncoding" value="UTF-8"/>
    </bean>

    <bean id="localeChangeInterceptor" class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
        <property name="paramName" value="lang" />
    </bean>

    <bean id="localeResolver" class="org.springframework.web.servlet.i18n.CookieLocaleResolver">
        <property name="defaultLocale" value="ru"/>
        <property name="cookieName" value="locale" />
    </bean>

    <mvc:interceptors>
        <bean class="org.springframework.web.servlet.i18n.LocaleChangeInterceptor">
            <property name="paramName" value="lang" />
        </bean>
    </mvc:interceptors>

    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!--максимальный размер 100 мб, остальное ограничиваем дополнительными настройками-->
        <property name="maxUploadSize" value="104857600" />
    </bean>

    <!--Конфигурируем JSON и XML request-->
    <mvc:annotation-driven content-negotiation-manager="contentNegotiationManager" />

    <bean id="contentNegotiationManager" class="org.springframework.web.accept.ContentNegotiationManagerFactoryBean">
        <property name="favorPathExtension" value="false" />
        <property name="favorParameter" value="true" />
        <property name="mediaTypes" >
            <value>
                x-javascript=application/x-javascript
                json=application/json
                xml=application/xml
            </value>
        </property>
    </bean>

    <!--бины для загруски фоток и аватарок-->
    <bean id="imageUploadForUser" class="by.imix.cms.web.image.FileUploader">
        <property name="format">
            <list>
                <value>application/msword</value>
                <value>application/pdf</value>
                <value>image/jpeg</value>
                <value>image/png</value>
                <value>image/gif</value>
            </list>
        </property>
        <!--максимальный размер 3 мб, остальное ограничиваем дополнительными настройками-->
        <property name="maxSize" value="3145728"/>
    </bean>

    <bean id="imageUploadForAvatar" class="by.imix.cms.web.image.FileUploader">
        <property name="format">
            <list>
                <value>image/jpeg</value>
                <value>image/png</value>
                <value>image/gif</value>
            </list>
        </property>
        <!--максимальный размер 500кб, остальное ограничиваем дополнительными настройками-->
        <property name="maxSize" value="512000"/>
    </bean>

    <!--перенаправление адресов-->
    <mvc:view-controller path="/htmllesson.html" view-name="htmllesson"/>

    <mvc:view-controller path="/login.html" view-name="login"/>




</beans>